@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');


.App {
  text-align: center;
  font-family: 'Chilanka', cursive;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #abc178;
  border: 50px solid #dde5c9 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  label {
    font-weight: 600;
    margin-top: 0;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Picture,
.segments,
.background {
  width: 300px;
  height: 300px;
}

.Picture {
    position: relative;
    margin: 1em;
    border: 1px solid white;
    box-shadow: 5px 0 30px rgba(58, 93, 45,.2);
    .background {
      background-position: center;
      background-size: cover;
      opacity: .3;
    }
}

.segments {
  position: absolute;
  top: 0;
}

.Segment {
  height: 50px;
  background-position: center;
  background-size: cover;
  &:hover {
    cursor: pointer;
    background-color: white;
    opacity: .9;
  }
}

.MashopContainer {
  display: flex;
}

.gabi {
  background-image: url("images/mom.png");
}
.julius {
  background-image: url("images/dad.png");
}

.loteria1{
  background-image: url("images/Loteria01.JPG");
}

.loteria2{
  background-image: url("images/Loteria02.JPG");
}

.loteria3{
  background-image: url("images/Loteria03.JPG");
}

.loteria4{
  background-image: url("images/Loteria04.JPG");
}

.loteria5{
  background-image: url("images/Loteria05.JPG");
}

.loteria6{
  background-image: url("images/Loteria06.JPG");
}

.loteria7{
  background-image: url("images/Loteria07.JPG");
}

.loteria8{
  background-image: url("images/Loteria08.JPG");
}

.loteria9{
  background-image: url("images/Loteria09.JPG");
}

.loteria10{
  background-image: url("images/Loteria10.JPG");
}